.nav-text{

}
/* .navbar{
    z-index: 9999;
    position: fixed;
    width: 100%;
} */
.dropdown-menu{
    top: 64px;
}
.bg-light {
    background-color: #ecfffb!important;
    padding: 20px 30px;
}
.bg-light li a{
    font-size: 18px;
    color: #545454;
    font-weight: 600;
    transition: transform linear .2s;
    margin-right: 10px;
}
.navbar-bg li a:hover{
    color: rgb(0,123,255);
    transform: scale(110%);
}
.navbar-bg ul{
    margin-right: 40px;
}








